body {
    background-color:#000;
    font-family:Arial;
}
.container {
    margin:20px;
}
.container div {
    margin-top:8px;
    margin-bottom:8px;
}
h1 {
    color:#fff;
    font-size:26px;
    margin:0px;
    margin-left:20px;
    margin-top:20px;
    line-height:1;
}
a {
    color:#fff;
    text-decoration:none;
    font-size:16px;
}
a:hover, a:focus {
    text-decoration:underline;
}